listener = 23456

disconnect_after_bytes = 1024

dateformat = %Y-%m-%d %H:%M:%S

module = modules/http.so
address = 127.0.0.1:80
logfile = syslog
logformat = %ip did a %request request on %page

module = modules/irc.so
address = 127.0.0.1:6667
logfile = logs/irc.log
logformat = %username with the realname %realname

module = modules/smtp.so
address = 127.0.0.1:2525

module = modules/minecraft.so
address = 127.0.0.1:25565
logfile = logs/minecraft.log
logformat = user: %username

module = modules/git.so
address = github.com:9418
